:host {
  display: flex;

  padding: 10px 10vw;

  transition: all 0.2s ease;

  border-bottom: 1px dotted #f9d342;

  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;

    padding: 10px 0px;
  }
}

.title {
  img {
    width: 120px;
  }
}


.user-icon {
  min-width: 30px;
  height: 30px;

  transition: all 0.2s ease;

  border: 2px solid transparent;
  border-radius: 50%;

  img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;

    border: 2px solid white;
  }

  @media (max-width: 500px) {
    width: 60px;
    height: 60px;
    margin: 10px auto;
  }
}
