<header>
  <div class="left">
    <a class="title" [routerLink]="['/app']">
      <img src="../../assets/header-title.png" alt="" />
    </a>
  </div>
  <div class="right">
    <!-- <a class="nav-link" [routerLink]="['/profile']">
      <p>about</p>
    </a>
    <a class="nav-link" [routerLink]="['/profile']">
      <p>contact us</p>
    </a> -->
    <a class="user-icon" [routerLink]="['/profile']">
      <img src="../../assets/user-icon.svg" alt="" />
    </a>
  </div>
</header>

<app-feature-nav></app-feature-nav>
