:host {
  display: flex;

  margin-bottom: 25px;
  padding: 10px;

  transition: all 0.2s ease;

  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px dotted #f9d342;

  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;

    margin-top: 20px;

    .left {
      margin-bottom: 10px;
    }
  }
}

.right {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  visibility: visible;

  p {
    margin: 0;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.date-container {
  display: flex;
  flex-direction: column;

  margin-right: 15px;

  align-items: flex-end;

  @media (max-width: 500px) {
    margin: 0;

    align-items: center;
  }
}

.user-icon {
  min-width: 30px;
  height: 30px;

  transition: all 0.2s ease;

  border: 2px solid transparent;
  border-radius: 50%;

  img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;

    border: 2px solid white;
  }

  @media (max-width: 500px) {
    width: 60px;
    height: 60px;
    margin: 10px auto;
  }
}

.title {
  img {
    width: 180px;
  }
}
