h1 {
  font-size: 60px;
}

h2 {
  // background: black;
  width: auto;
  margin-bottom: 10px;

  color: white;
  text-shadow: 0 1px 8px black;
}

.login-form-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  p {
    font-size: 22px;

    width: 70%;
    margin: 15px auto;

    color: white;
    text-shadow: 2px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

.registered-users-container {
  margin-bottom: 25px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 14px;
  font-weight: bold;

  transition: all 0.2s ease;
  text-transform: uppercase;

  border: 2px solid transparent;
  border-radius: 2px;

  &.sign-in {
    margin-bottom: 25px;

    color: white;
    background-color: rgb(10, 189, 233);

    &:hover {
      border: 2px solid white;
      background-color: rgb(5, 127, 157);
    }
  }

  &.create-account {
    color: rgb(10, 189, 233);
    border: 3px solid rgb(10, 189, 233);
    background-color: rgba(0, 0, 0, 0.8);

    &:hover {
      color: white;
      border: 3px solid white;
    }
  }
}
