:host {
  height: 100%;
  overflow-y: scroll;
  background: black;

  &.hidden {
    display: none;
  }
}

.hero-brick {
  display: flex;

  justify-content: center;

  flex: 1;
  height: 95vh;
  /* The image used */
  background: radial-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url(../../assets/group-hero.jpg);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-container {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .5) 100%);
  padding: 40px;
  border-radius: 4px;
  margin-top: 30vh;
  margin-bottom: auto;
  height: auto;
  display: flex;
  flex-direction: column;

  align-items: center;

  text-align: center;



  @media screen and (max-width: 730px) {
    margin-top: 15vh;

  }

  .top {
    color: white;
    text-shadow: 0px 0px 6px black;

    h1 {
      font-size: 50px;
      font-weight: bold;
    }

    h2 {
      font-size: 22px;

    }

  }

  .bottom {

    width: 100%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;

    padding: 10px;
    border-radius: 3px;

    @media screen and (max-width: 730px) {
      flex-direction: column;
      align-items: initial;
      width: 100%;
    }

    .right {
      display: flex;
      flex: 1;
      width: 290px;
      max-width: 290px;
      margin: 0 auto;
      flex-direction: column;
    }

    a.button {
      background: rgba(0, 0, 0, 0.7);
      display: inline-block;
      padding: 0.35em 1.2em;
      border: 0.1em solid #FFFFFF;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #FFFFFF;
      text-align: center;
      transition: all 0.2s;
    }

    a.button:hover {
      color: #000000;
      background-color: #FFFFFF;
    }


  }
}


.divider {
  width: 60%;
  margin: 0 auto;
  border-top: 2px solid black;
}

.feature-brick {
  background: url(../../assets/topography.png) center center repeat;
  height: 500px;
}
