:host
{
    overflow-y: scroll;

    height: 100%;

    background: black;

    &.hidden
    {
        display: none;
    }
}

.hero-brick
{
    display: flex;
    flex: 1;
    justify-content: center;

    height: 95vh;
    /* The image used */

    background: radial-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
    url(../../assets/group-hero.jpg);
    background-repeat: no-repeat;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

.hero-container
{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: auto;
    margin-top: 30vh;
    margin-bottom: auto;
    padding: 20px;

    text-align: center;

    border-radius: 4px;
    background: white;
    background-color: #fff;
    background-image: url(http://www.transparenttextures.com/patterns/white-brick-wall.png);

    @media screen and (max-width: 400px)
    {
        margin-top: 0;
        padding: 20px 5px;

        border-radius: 0;
    }

    .top
    {
        margin-bottom: 20px;

        color: black;

        h1
        {
            font-size: 30px;
            font-weight: bold;

            margin-bottom: 5px;
        }

        h2
        {
            font-size: 18px;
        }

        @media screen and (max-width: 400px)
        {
            margin-bottom: 5px;
        }
    }

    .bottom
    {
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 100%;

        border-radius: 3px;

        .left,
        .right
        {
            display: flex;
            flex-direction: column;
        }

        .left
        {
            width: 55%;
        }

        .right
        {
            width: 40%;
        }

        a.button
        {
            font-size: 13px;
            font-weight: 500;

            display: inline-block;

            box-sizing: border-box;
            margin-bottom: 5px;
            padding: 8px 0;

            transition: all .2s ease;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            color: #000;
            border-radius: 4px;
            background: rgba(0, 0, 0, .2);

            &.login
            {
                border: 1px solid #add3ec;
                background: #add3ec;

                &:hover
                {
                    color: #000;
                    border: 1px dashed #add3ec;
                    background-color: #c1e6ff;
                }
            }

            &.signup
            {
                border: 1px solid #add3ec;
                background: white;

                &:hover
                {
                    color: #000;
                    border: 1px dashed #add3ec;
                    background-color: #eee;
                }
            }
        }

        @media screen and (max-width: 400px)
        {
            flex-direction: column;

            width: 100%;

            .left
            {
                width: 80%;
                margin-bottom: 10px;
            }

            .right
            {
                width: 80%;
            }
        }
    }
}

// .feature-brick {
//   height: 500px;
//
//   background: url(../../assets/topography.png) center center repeat;
// }