:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  &.hidden {
    display: none;
  }
}

.left {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 300px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.login-container {
  display: flex;
  flex: 1;
  padding-top: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
}
