<div class="hero-brick" [routerLink]="['/app/overview']">
  <div class="hero-container">
    <div class="top">
      <h1>Train Smarter. Get Better.</h1>
      <h2>The original breaker training companion.</h2>
    </div>
    <div class="bottom">
      <div class="left">
        <img src="../../assets/header-title.png" alt="" />
      </div>
      <div class="right">
        <a href="/#" class="button login">Log In</a>
        <a href="/#" class="button signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="feature-brick"></div>
