<a
  class="link"
  [routerLink]="['/app/session-log']"
  routerLinkActive="active"
>
  <div class="link-icon">
    <img src="../../assets/sessionlog.svg" alt="" />
  </div>
  <h3 class="link-title">Session Log</h3>
</a>
<a
  class="link"
  [routerLink]="['/app/train']"
  routerLinkActive="active"
>
  <div class="link-icon">
    <img src="../../assets/workout.svg" alt="" />
  </div>
  <h3 class="link-title">Workouts & Drills</h3>
</a>
<a
  class="link"
  [routerLink]="['/app/move-library']"
  routerLinkActive="active"
>
  <div class="link-icon">
    <img src="../../assets/library.svg" alt="" />
  </div>
  <h3 class="link-title">Move Library</h3>
</a>
