<div class="page-wrapper">
  <app-header></app-header>
  <h2 class="section-heading">{{ sectionHeading }}</h2>
  <div class="journal-container">
    <div class="log-item-container">
      <div class="log-item" (click)="handleLogEntryClick($event)"  *ngFor="let logEntry of logEntries" [attr.data-entry-date]="logEntry.date">
        <div class="date">{{ logEntry.date | date: "MMM dd, yyyy hh:mm aa" }}</div>
        <div class="location">{{ logEntry.location }}</div>
      </div>
    </div>
    <!-- <div class="log-item-viewer" (entry)="selectedEntry" app-entry-view>
    </div> -->
    <app-entry-view [entry]="selectedEntry"></app-entry-view>
  </div>
</div>
