:host {
  font-family: "Thank You Kobe";

  z-index: 999;

  display: grid;
  overflow: scroll;

  height: 100vh;

  letter-spacing: 1px;
  // background-image: url("../../assets/dashboard-bg.png");

  background-image: url("../../assets/dashboard-bg-3.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: 23%;

  @media (max-width: 500px) {
  }

  justify-content: center;
  // background-image: url("../assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  &.hidden {
    display: none;
  }
}

.journal-container {
  display: grid;

  margin-bottom: 20px;

  color: white;

  flex: 1;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  transition: all 0.3s ease;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;

    grid-template-rows: auto 1fr;
  }
}

.log-item-container {
  z-index: 999;
  // border-right: 1px solid #eee;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgb(51, 51, 51);
  background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;

  @media (max-width: 500px) {
    grid-row: 2;
  }
}

.new-entry-button-container {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;

  position: relative;

  display: flex;

  padding: 5px 15px;

  user-select: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  align-items: center;
  cursor: pointer;

  .plus-button {
    position: relative;

    margin-right: 10px;
    padding: 0;

    background: transparent;

    img {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transform: scale(1);
    }

    &:focus {
      outline: 5px solid white;
      outline-offset: 3px;
    }
  }

  &:hover {
    .plus-button {
      img {
        transform: scale(1.1) perspective(1px);
      }
    }
  }
}

.up-pointer {
  font-size: 25px;

  position: absolute;
  left: -5px;

  animation: finger-float-up 0.5s infinite;
  animation-direction: alternate;
}

.get-started-prompt {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;

  position: absolute;
  bottom: -20px;
  left: 0;

  padding: 15px 15px 0 15px;
}

.log-item {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;

  padding: 15px;

  cursor: pointer;
  transition: 0.1s all linear;

  border-right: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  div {
    pointer-events: none;
  }

  &.selected {
    background: rgba(255, 255, 255, 0.05);
  }

  &:hover {
    border-right: 1px solid #d3d3d3;
    background: rgba(255, 255, 255, 0.1);
  }
}
