:host {
  font-family: "Thank You Kobe";

  display: grid;
  overflow: scroll;

  height: 100vh;

  letter-spacing: 1px;

  background-color: black;
  background-position: center center;
  // background-image: url("../assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-size: cover;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  &.hidden {
    display: none;
  }
}
