.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
