.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.2);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  &.hidden {
    display: none;
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100vh;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  &.hidden {
    display: none;
  }
}
