.outer {
  position: relative;

  width: 150px;
  height: 150px;
}

.inner {
  display: grid;

  width: 100px;
  height: 100px;

  transform: rotate(45deg) skewX(-20deg) skewY(-10deg);

  border: 1px solid white;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.tile {
  background: white;

  &.odd {
    background: black;
  }
}

.name {
  font-family: "graffonti.gradient.fill";
  font-size: 50px;

  position: absolute;
  top: 0;
  left: -50%;

  text-align: center;

  text-shadow: 1px 3px 1px white;
}
