<div class="outer">
  <div class="inner">
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile "></div>
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile odd"></div>
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile odd"></div>
    <div class="tile"></div>
    <div class="tile odd"></div>
  </div>
  <div class="name">break trainer</div>
</div>
