:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100vh;
  background-color: black;
  // background-image: url("../assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  &.hidden {
    display: none;
  }
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  text-shadow:
    5px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  align-self: center;
}

h2 {
  color: black;
}

.top {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease;
  padding: 20px;

  @media (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
  }
}

.right {
  display: flex;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;
}

.user-icon {
  height: 30px;
  min-width: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all .2s ease;

  &:hover {
    border: 2px solid white;
    cursor: pointer;
  }
}

.date,
.time {}

.middle {
  flex: 1;
  padding: 20px;

}

.action-card-container {
  display: flex;
  justify-content: space-around;
  color: white;


  @media (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

}

.action-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 6px 8px 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-right: 5px;
  z-index: 1;
  border-radius: 15px;
  padding: 1em;
  transition: all 0.3s ease 0s;
  border: 3px double black;

  img {
    height: 40px;
    width: 40px;

    margin: 10px auto;
  }
}

.bottom {
  color: white;
  font-size: 23px;
  text-shadow:
    2px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 20px;
  text-align: center;
}
