<div class="dashboard-wrapper">
  <div class="top">
    <div class="left">
      <h1>Break HQ</h1>
    </div>
    <div class="right">
      <div class="date-container">
        <p class="date">{{ today | date: "MMM dd, yyyy" }}</p>
        <p class="time">{{ today | date: "HH:mm aa" }}</p>
      </div>
      <img class="user-icon" src="../../assets/user-icon.svg" alt="" />
    </div>
  </div>
  <div class="middle">
    <div class="action-card-container">
      <div class="action-card">
        <h2>Session Log</h2>
        <img src="../../assets/sessionlog.svg" alt="" />
      </div>
      <div class="action-card">
        <h2>Workouts & Drills</h2>
        <img src="../../assets/workout.svg" alt="" />
      </div>
      <div class="action-card">
        <h2>Move Catalog</h2>
        <img src="../../assets/catalog.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom">{{ currentQuote.quote }} {{ currentQuote.author }}</div>
</div>
