<div class="page-wrapper">
  <app-header></app-header>
  <div class="middle">
    <h2 class="section-heading">{{ sectionTagLine }}</h2>
    <div class="action-card-container">
      <a
        class="action-card"
        [routerLink]="['/logs']"
        routerLinkActive="router-link-active"
      >
        <div>
          <h3 class="card-title">Session Log</h3>
          <div class="card-icon">
            <img src="../../assets/sessionlog.svg" alt="" />
          </div>
        </div>
      </a>
      <a
        class="action-card"
        [routerLink]="['/workout']"
        routerLinkActive="router-link-active"
      >
        <div>
          <h3 class="card-title">Workouts & Drills</h3>
          <div class="card-icon">
            <img src="../../assets/workout.svg" alt="" />
          </div>
        </div>
      </a>
      <a
        class="action-card"
        [routerLink]="['/library']"
        routerLinkActive="router-link-active"
      >
        <div>
          <h3 class="card-title">Move Library</h3>
          <div class="card-icon">
            <img src="../../assets/library.svg" alt="" />
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="bottom">{{ currentQuote.quote }} {{ currentQuote.author }}</div>
</div>
