:host {
  font-family: "Thank You Kobe";

  display: grid;
  overflow: scroll;
  justify-content: center;

  height: 100vh;

  letter-spacing: 1px;

  // background-image: url("../../assets/dashboard-bg.png");

  background-image: url("../../assets/dashboard-bg-4.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: 23%;
  // background-image: url("../assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  &.hidden {
    display: none;
  }
  z-index: 999;
}
