@import "../src/scss/reset.scss";

html {
  width: 100vw;
  height: 100vh;
}

html,
body {
  overflow: auto;
}

body,
app-root {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #4268f9, black);

  width: 100%;
  height: 100%;
}

body {
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;

  @media (max-width: 500px) {
    padding: 0px;
  }

  .section-heading {
    font-size: 40px;

    margin-bottom: 25px;

    text-align: center;

    color: #f9d342;

    @media (max-width: 500px) {
      font-size: 35px;
      text-align: center;
    }
  }

  .middle {
    z-index: 1;

    flex: 1;
  }
}

@-webkit-keyframes finger-float-up {
  0% {
    bottom: -38px;
  }
  100% {
    bottom: -30px;
  }
}
@-moz-keyframes finger-float-up {
  0% {
    bottom: -38px;
  }
  100% {
    bottom: -30px;
  }
}
@-o-keyframes finger-float-up {
  0% {
    bottom: -38px;
  }
  100% {
    bottom: -30px;
  }
}
@keyframes finger-float-up {
  0% {
    bottom: -38px;
  }
  100% {
    bottom: -30px;
  }
}
